<!DOCTYPE html>
<html>
<head>
    <style>
        /* Define CSS for the footer */
        .footer {
            background-color: #000; /* Black background */
            color: #fff; /* White text color */
            text-align: center;
            padding: 20px 0;
        }
        
        .logo {
            max-width: 100px; /* Adjust the width as needed */
            height: auto;
        }
    </style>
</head>
<body>
    <div class="footer">
        <img src="/static/img/Screenshot 2023-10-15 182600.png" alt="Logo" class="logo"> <!-- Replace 'img/logo.png' with the path to your logo image -->
        <p>&copy; 2023 S3GenTech. All rights reserved.</p>
    </div>
</body>
</html>
